*.pyc
#pycharm
.idea/*
.vscode
tmp
*.pdf
.aws-sam/*
env_vars.json
.env
**/packaged.yaml
htmlcov
.coverage
**/*coverage.xml
**/*biobank_test_report.xml
**/biobank_coverage_html
**/report_to_publish
run_local.py
.flake8
*.toml
azure-pipelines.yml
.pre-commit-config.yaml
tox.ini
.aws-sam
